* {
  box-sizing: border-box;
}


.row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  [class*="col-"] {
    float: left;
    padding: 15px;
  }

  [class*="button-"] {
    float: left;
    padding: 15px;
  }
  
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3-navegacion{
   width: 100%;
}
  .button-about{
    width: 25%;
  }

  .button-product{
    width: 25%;
  }

  .button-contact{
    width: 25%;
  }

  .button-order{
    width: 16%;
  }

  .col-4-wholefish {
    width: 50%;
    border: 1px solid black;
  }
  .col-5-filletfish {
    width: 50%;
    border: 1px solid black;
  }
  .col-6-cuerpo{
    width: 100%;
  }

  .col-7-srhimp{
    width: 50%;
    border: 200px solid black;
  }
  .col-8-prawns{
    width: 50%;
    border: 1px solid black;
  }
  .col-9-oysters-molluscs{
    width: 50%;
    border: 1px solid black;
  }
  .col-10-shellfish {
    width: 50%;
    border: 1px solid black;
  }
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  
  html {
    font-family: "Lucida Sans", sans-serif;
  }


.pagina{
    padding-left: 10px; padding-right: 30px;
}

.header{
    display: flex;
    text-align: center;
    font-family: monospace;
    width: 100%;
}

h1{
    font-size: 45px;
}

.logo{
    padding: 17px;
    border: 1px solid black;
}

.nombres{
    padding: 17px;
    padding: auto;
    border: 1px solid black;
}

.header-medium{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2px 10%;
    border: 1px solid black;
    flex: 2;
}


