.pagina{
    padding-left: 10px; padding-right: 30px;
}

.header{
    display: flex;
    text-align: center;
    font-family: monospace;
    width: 100%;
}

h1{
    font-size: 45px;
}

.logo{
    padding: 17px;
    border: 1px solid black;
}

.nombres{
    padding: 17px;
    padding: auto;
    border: 1px solid black;
}

.header-medium{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2px 10%;
    border: 1px solid black;
    flex: 2;
}